body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #eeecec;
  margin: 0;
}

nav {
  height: 10vh;
  margin: 0;
  background-color: #dde4d4;
  max-width: 100vw;
}

footer {
  text-align: center;
  margin: 0%;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #dde4d4;
  min-height: 6vh;
}

/* Main elements */

.navgrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-width: 100vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  margin: 2vh auto 2vh auto;
}

.letterpool {
  width: 80vmin;
  height: 19vmin;
  background-color: #dde4d4;
  margin: 1vh auto 3vh auto;
  padding: 1em;
  text-align: center;
  object-fit: contain;
}

.button {
  font-size: 2.2vh;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  border: none;
  color: rgb(71, 92, 71);
  cursor: pointer;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 1em 2em 1em 2em;
  /* padding: 0.5em 1em; */
  width: auto;
  max-width: 100%;
  margin: auto;
  color: rgb(71, 92, 71);
  font-size: 3vh;
}

/* Letter elements */

.letterbox {
  background-color: rgb(250, 250, 250);
  border: rgb(109, 141, 109) solid 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newletter {
  font-size: 4em;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  display: inline-flex;
  border: rgb(109, 141, 109) solid 2px;
  background-color: rgb(250, 250, 250);
  width: 8vmin;
  height: 8vmin;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.letters-multi {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.display-letter {
  height: 13.9vmin;
  width: 13.9vmin;
  font-size: 5em;
  border: rgb(109, 141, 109) solid 2px;
  margin: auto;
  text-align: center;
  display: inline-flex;
}

.letter-input {
  height: 13.6vmin;
  width: 13.5vmin;
  font-size: 5em;
  border: rgb(109, 141, 109) solid 2px;
  text-align: center;
  margin: auto;
}

.drag-over {
  background-color: #7ba77b;
}

.dragging {
  opacity: 50%;
}

.dropped {
  opacity: 100%;
  border: #a8a6a6 dotted 2px;
}

/* Other text */

.footertext {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 1em 2em 1em 2em;
  width: 90vmin;
  margin: auto;
  color: rgb(71, 92, 71);
  font-size: 2vh;
}

.scoretext {
  font-size: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: bold;
  margin: 0.5em;
  color: rgb(71, 92, 71);
}

#title {
  grid-column: 3;
}

#hardtext {
  font-size: 14pt;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 1em 2em 1em 2em;
  width: auto;
  max-width: 100%;
  margin: auto;
  color: rgb(71, 92, 71);
}

/* Other buttons */

.button-rules {
  font-size: 15pt;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(71, 92, 71);
}

.disabled {
  color: grey;
  background-color: rgb(233, 231, 231);
  border: 1px solid rgb(233, 231, 231) !important;
}

.send {
  margin-top: 1em;
}

#score {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: 1px solid rgb(71, 92, 71);
}

#rules-btn {
  grid-column: 1;
  margin: auto;
}

#hard-btn {
  grid-column: 2;
  margin: auto;
  width: 100%;
}

#multi-btn {
  grid-column: 4;
  margin: auto;
}

#goToTyped {
  grid-column: 5;
  margin: auto;
}

/* Misc */

.emoji {
  font-size: 3vh;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  border: none;
  color: rgb(71, 92, 71);
  cursor: pointer;
}

.more-margin {
  margin: 1.5e;
  padding: 0.5em;
}

.margin {
  margin: 0.1em;
}

.margin-bottom {
  margin-bottom: 3vmin;
}

.hidden {
  visibility: hidden;
}

.w3-hide {
  display: none !important;
}
.w3-show-block,
.w3-show {
  display: block !important;
}
.w3-show-inline-block {
  display: inline-block !important;
}
