body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  background-color: #eeecec;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  margin: 2vh auto 2vh auto;
}
.letterbox {
  background-color: rgb(250, 250, 250);
  border: 2px green solid;
  border-radius: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newletter {
  font-size: 4em;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  display: inline-flex;
  border: green solid 2px;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  width: 8vmin;
  height: 8vmin;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 20pt;
  border-radius: 0.3em;
  background-color: #dae8e1;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 0.1em 0.4em 0.1em 0.4em;
}

.drag-over {
  /*border: dashed 2px red;*/
  background-color: #7ba77b;
}

.letter-input {
  height: 12vmin;
  width: 12vmin;
  border-radius: 0.1em;
  font-size: 5em;
  border: green solid 2px;
  text-align: center;
}

.letterpool {
  width: 80vmin;
  height: 19vmin;
  border: 2px solid #45584f;
  margin: 1vh auto 3vh auto;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  object-fit: contain;
}

.margin {
  margin: 0.1em;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 1em 2em 1em 2em;
  width: 80vmin;
  margin: auto;
  color: #0f5132;
}

.scoretext {
  font-size: 18pt;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 0.5em;
  color: #0f5132;
}

#score {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.dragging {
  opacity: 50%;
}

.dropped {
  opacity: 100%;
  border: #a8a6a6 dotted 2px;
}

.hidden {
  visibility: hidden;
}

.more-margin {
  margin: 1em 1em 1.5em 1em;
}

.button-rules {
  font-size: 20pt;
  border-radius: 0.3em;
  background-color: #dae8e1;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border: 1px;
}

.w3-hide {
  display: none !important;
}
.w3-show-block,
.w3-show {
  display: block !important;
}
.w3-show-inline-block {
  display: inline-block !important;
}
