body {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  background-color: #eeecec;
  margin: 0;
}

nav {
  display: flex;
  height: 10vh;
  /* width: 100%; */
  margin: 0;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #dde4d4;
}

footer {
  /* width: 100%; */
  text-align: center;
  margin: 0%;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #dde4d4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 60vmin;
  height: 60vmin;
  gap: 1vmin;
  margin: 2vh auto 2vh auto;
}
.letterbox {
  background-color: rgb(250, 250, 250);
  border: rgb(109, 141, 109) solid 2px;
  /* border-radius: 0.5em; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newletter {
  font-size: 4em;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  display: inline-flex;
  border: rgb(109, 141, 109) solid 2px;
  /* border-radius: 5px; */
  background-color: rgb(250, 250, 250);
  width: 8vmin;
  height: 8vmin;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 2.2vh;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  border: none;
  color: rgb(71, 92, 71);
  cursor: pointer;
}

.emoji {
  font-size: 3vh;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  border: none;
  color: rgb(71, 92, 71);
  cursor: pointer;
}

.drag-over {
  /*border: dashed 2px red;*/
  background-color: #7ba77b;
}

.letter-input {
  height: 13.6vmin;
  width: 13.5vmin;
  /* border-radius: 0.1em; */
  font-size: 5em;
  border: rgb(109, 141, 109) solid 2px;
  text-align: center;
}

.letterpool {
  width: 80vmin;
  height: 19vmin;
  /* border: rgb(109, 141, 109) solid 2px; */
  background-color: #dde4d4;
  margin: 1vh auto 3vh auto;
  /* border-radius: 1em; */
  padding: 1em;
  text-align: center;
  object-fit: contain;
}

.margin {
  margin: 0.1em;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding: 1em 2em 1em 2em;
  width: 80vmin;
  margin: auto;
  color: rgb(71, 92, 71);
  font-size: 3vh;
}

.footertext {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  padding-top: 0.5em;
  width: 90vmin;
  margin: auto;
  color: rgb(71, 92, 71);
  font-size: 1.5vh;
}

.scoretext {
  font-size: 2vh;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-weight: bold;
  margin: 0.5em;
  color: rgb(71, 92, 71);
}

#score {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: 1px solid rgb(71, 92, 71);
}

.dragging {
  opacity: 50%;
}

.dropped {
  opacity: 100%;
  border: #a8a6a6 dotted 2px;
}

.hidden {
  visibility: hidden;
}

.more-margin {
  margin: 1.5e;
  padding: 0.5em;
}

.button-rules {
  font-size: 15pt;
  width: 30%;
  background-color: #dde4d4;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  color: rgb(71, 92, 71);
}

.w3-hide {
  display: none !important;
}
.w3-show-block,
.w3-show {
  display: block !important;
}
.w3-show-inline-block {
  display: inline-block !important;
}

.disabled {
  color: grey;
  background-color: rgb(233, 231, 231);
  border: 1px solid rgb(233, 231, 231) !important;
}

footer {
  height: 2em;
}
